.main {
  #{$pos}: $rel;
  #{$h}: auto;
  overflow: hidden;
}

.page-container.has-image {
  #{$pos}: $rel;
  #{$h}: auto;
  #{$minh}: 380px;
}

.project-image {
  #{$pos}: $rel;
  #{$d}: inline-block;
  z-index: 20;

  a {
    @include link-primary;
    #{$d}: block;
  }

  p {
    #{$m}: 0.5em 0;
  }

  img {
    #{$w}: 100%;
  }

  &.image--right,
  &.image--left {
    clear: both;
  }

  &.image--right {
    #{$fl}: $r;
  }

  &.image--left {
    #{$fl}: $l;
  }
}


@media (min-width: 768px) {
  .project-image.image--right  {
    &.image--xs.image--vertical {
      #{$pr}: 60px;
    }
  }

  .project-image.image--left {
    &.image--sm.image--vertical {
      #{$pl}: 15px;
    }
  }

  .project-image p {
    #{$cl}: transparent;
  }

  .project-image a:hover {
    p {
      #{$cl}: $black;
    }
  }

}

@media (max-width: 991px) {
  .front-gallery img:not(last-child) {
    #{$mb}: 2em;
  }

  .front-gallery .project-image {
    #{$pos}: initial;
  }
}

@media (min-width: 992px) {
  .front-gallery {
    #{$pos}: $rel;

    .project-image { #{$pos}: $abs; } 
  }

  .front-gallery-1 {
    #{$h}: 1170px;

    .image {
      &--left.image--sm.image--vertical {
        #{$t}: 120px;
        #{$l}: 15px;
        z-index: 2;
      }

      &--right.image--md {
        #{$b}: 20px;
        #{$r}: 20px;
        z-index: 1;
      }

      &--right.image--xs.image--vertical {
        #{$r}: 60px;
      }
    }
  }

  // .front-gallery.front-gallery-1 {

  //   .project-image.image {
  //     &--left {
  //       #{$w}: 378px;
  //       #{$h}: 470px;
  //     }

  //     &--full {
  //       #{$w}: 900px;
  //       #{$h}: 720px;
  //     }

  //     &--right {
  //       #{$w}: 300px;
  //       #{$h}: 375px;
  //     }
  //   }
  // }

  .front-gallery.front-gallery-2 {
    #{$h}: 2100px;

    .image {
      &--left {
        #{$t}: 250px;
        #{$l}: 15px;
        z-index: 2;

        &-bottom {
          #{$b}: 0;
          #{$l}: 15px;
        }
      }

      &--full {
        #{$r}: 20px;
        #{$b}: 480px;
        z-index: 1;
      }

      &--right {
        #{$t}: 10px;
        #{$r}: 460px;
        z-index: 3;
      }
    }
  }

  .front-gallery.front-gallery-3 {
    #{$h}: 1590px;

    .image {
      &--left {
        &-bottom {
          #{$b}: 15px;
          #{$l}: 15px;
          z-index: 1;
        }

        &-top {
          #{$t}: 250px;
          #{$l}: 200px;
          z-index: 3;
        }
      }

      &--right {
        &-bottom {
          #{$r}: 15px;
          #{$b}: 460px;
          z-index: 2
        }

        &-top {
          #{$t}: 10px;
          #{$r}: 180px;
          z-index: 4;
        }
      }
    }
  }
}