@font-face {
  font-family: "HaasBlack";
  font-weight: eot woff ttf svg;
  src: url("../fonts/HaasGrotBlack/HaasGrot-Black.eot?") format("eot"), url("../fonts/HaasGrotBlack/HaasGrot-Black.woff2") format("woff2"), url("../fonts/HaasGrotBlack/HaasGrot-Black.woff") format("woff"), url("../fonts/HaasGrotBlack/HaasGrot-Black.ttf") format("truetype"), url("../fonts/HaasGrotBlack/HaasGrot-Black.svg#HaasBlack") format("svg"); }
@font-face {
  font-family: "HaasBold";
  font-weight: eot woff ttf svg;
  src: url("../fonts/HaasGrotBold/HaasGrot-Bold.eot?") format("eot"), url("../fonts/HaasGrotBold/HaasGrot-Bold.woff2") format("woff2"), url("../fonts/HaasGrotBold/HaasGrot-Bold.woff") format("woff"), url("../fonts/HaasGrotBold/HaasGrot-Bold.ttf") format("truetype"), url("../fonts/HaasGrotBold/HaasGrot-Bold.svg#HaasBold") format("svg"); }
@font-face {
  font-family: "HaasRoman";
  font-weight: eot woff ttf svg;
  src: url("../fonts/HaasGrotRoman/HaasGrot-Roman.eot?") format("eot"), url("../fonts/HaasGrotRoman/HaasGrot-Roman.woff2") format("woff2"), url("../fonts/HaasGrotRoman/HaasGrot-Roman.woff") format("woff"), url("../fonts/HaasGrotRoman/HaasGrot-Roman.ttf") format("truetype"), url("../fonts/HaasGrotRoman/HaasGrot-Roman.svg#HaasRoman") format("svg"); }
@font-face {
  font-family: "HaasThin";
  font-weight: eot woff ttf svg;
  src: url("../fonts/HaasGrotThin/HaasGrot-Thin.eot?") format("eot"), url("../fonts/HaasGrotThin/HaasGrot-Thin.woff2") format("woff2"), url("../fonts/HaasGrotThin/HaasGrot-Thin.woff") format("woff"), url("../fonts/HaasGrotThin/HaasGrot-Thin.ttf") format("truetype"), url("../fonts/HaasGrotThin/HaasGrot-Thin.svg#HaasThin") format("svg"); }
html,
body {
  min-height: 100%;
  position: relative; }

body {
  font-family: 'HaasRoman', 'Roboto', 'Helvetica', sans-serif;
  padding-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden; }

a, li > a {
  color: #222222; }
  a, a:active, a:hover, a:focus, li > a, li > a:active, li > a:hover, li > a:focus {
    background-color: transparent;
    text-decoration: none; }
  a:active, a:hover, a:focus, li > a:active, li > a:hover, li > a:focus {
    color: #888888; }

.page-container {
  padding: 1em 1.5em; }

@media (min-width: 992px) {
  .page-container {
    padding: 2em 2.5em 0; }

  .page-navbar .page-container {
    padding: 0.5em 2.5em; }

  .page-footer .page-container {
    padding: 0 2.5em 2em; } }
img {
  height: auto; }

.page-row {
  height: auto;
  overflow: hidden; }

.layout--2col p {
  font-size: 20px; }

.page-footer, .page-footer .page-container {
  font-size: 12px; }
.page-title {
  font-size: 21px; }

@media (max-width: 767px) {
  .page-container, .page-container--2col p, .page-title, .page-title.page-link {
    font-size: 16px; }

  .layout--2col .page-link {
    font-size: 14px; } }
.project-date {
  font-size: 13px; }
.project-header-no, .project-text, .project-text p {
  font-size: 18px; }
.project-pagination {
  font-size: 14px; }
.project-title {
  font-size: 21px;
  letter-spacing: 1px;
  margin-bottom: 0.5em; }

.project-pagination-next,
.project-pagination-prev {
  font-size: 1em; }

@media (max-width: 767px) {
  .project-header-no, .project-text, .project-text p {
    font-size: 16px; }
  .project-pagination {
    font-size: 11px; }
  .project-title {
    font-size: 18px; } }
.nav > li > a, .nav > li > a:active, .nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none; }
.nav > li > a:active, .nav > li > a:hover, .nav > li > a:focus {
  color: #888888; }

.project-pagination-next, .project-pagination-prev {
  margin-left: 0.3em; }

@media (min-width: 991px) {
  .layout--2col .page-list {
    float: right; }

  .layout--2col .page-list > li:not(last-child) {
    margin-bottom: 25px; }

  .layout--3col .page-row {
    margin-bottom: 60px; } }
.page-navbar-list {
  padding: 15px;
  margin-bottom: 0;
  line-height: 20px; }

@media (max-width: 767px) {
  .page-navbar .navbar-brand {
    padding-left: 0; }

  .page-navbar-list {
    padding-right: 0; } }
.footer--sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; }

.page-footer {
  background-color: #FFFFFF; }

@media (min-width: 768px) {
  .page-footer-nav {
    text-align: right; } }
@media (max-width: 767px) {
  .footer--sticky,
  .page-footer-nav {
    text-align: left; } }
.front-gallery img {
  width: 100%;
  height: auto; }

.front-gallery {
  height: auto;
  overflow: hidden;
  position: relative;
  max-width: 100%; }

.front-gallery .project-image {
  height: auto;
  overflow: hidden; }

@media (min-width: 992px) {
  .front-gallery .project-image {
    min-height: 300px;
    position: relative;
    z-index: 1; }
    .front-gallery .project-image.image--right {
      clear: both;
      float: right; }

  .project-image.z2 {
    z-index: 2; }
  .project-image.z3 {
    z-index: 3; }
  .project-image.z4 {
    z-index: 4; }

  .image--left.image--portrait.image--md {
    margin-top: -35em;
    left: 4em; }

  .image--left.image--landscape.image--md,
  .image--right.image--landscape.image--lg,
  .image--right.image--portrait.image--lg {
    top: -4em; }

  .image--left.image--landscape.image--lg {
    top: -5em; }

  .image--right.image--portrait.image--sm {
    top: 4em;
    right: 4em; }

  .image--right.image--landscape.image--md {
    margin-top: -5em; }

  .project-image p {
    color: transparent; }

  .project-image:hover p {
    color: #222222; } }
@media (min-width: 320px) and (max-width: 991px) {
  .project-image {
    position: initial !important;
    transform: none !important;
    margin-bottom: 1.5em; } }
.page-thumbnail img,
.project-content .project-image img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5em; }

.page-container.project-text {
  padding: 1.5em; }

@media (min-width: 768px) {
  .page-container.project-text {
    padding: 3em 3em 1.5em; } }
.project-header-no {
  margin-top: 2em; }

@media (min-width: 768px) {
  .layout--3col .page-row {
    margin-bottom: 4em; } }
@media (max-width: 767px) {
  .page-thumbnail-container {
    margin-bottom: 4em; } }

/*# sourceMappingURL=main.css.map */
