a, li > a, .page-link {
  color: #222222; }

.page-row {
  height: auto;
  overflow: hidden; }

a, li > a, .nav > li > a, .page-link, a:active, .nav > li > a:active, .page-link:active, a:hover, .nav > li > a:hover, .page-link:hover, a:focus, .nav > li > a:focus, .page-link:focus {
  background-color: transparent;
  text-decoration: none; }
a:active, .nav > li > a:active, .page-link:active, a:hover, .nav > li > a:hover, .page-link:hover, a:focus, .nav > li > a:focus, .page-link:focus {
  color: #888888; }

.page-thumbnail img,
.project-content .project-image img {
  width: 100%;
  height: auto; }

.page-container {
  padding: 1em 1.5em; }

@media (min-width: 768px) {
  .page-container {
    padding: 30px 15px; }

  .page-footer .page-container {
    padding: 0 15px 15px; } }
body {
  font-family: 'Roboto', sans-serif; }

.layout--2col p {
  font-size: 20px; }

.page-footer, .page-footer .page-container, .page-footer .page-link {
  font-size: 12px; }
.page-link {
  font-size: 18px; }
.page-title, .page-title.page-link {
  font-size: 21px; }

@media (max-width: 767px) {
  .page-container, .page-container--2col p, .page-link, .page-title, .page-title.page-link {
    font-size: 16px; }

  .layout--2col .page-link {
    font-size: 14px; } }
.project-date {
  font-size: 13px; }
.project-header-no, .project-text, .project-text p {
  font-size: 18px; }
.project-pagination, .project-pagination .page-link {
  font-size: 14px; }
.project-title {
  font-size: 21px;
  letter-spacing: 1px;
  margin-bottom: 0.5em; }

.project-pagination-next,
.project-pagination-prev {
  font-size: 1em; }

@media (max-width: 767px) {
  .project-header-no, .project-text, .project-text p {
    font-size: 16px; }
  .project-pagination, .project-pagination .page-link {
    font-size: 11px; }
  .project-title {
    font-size: 18px; } }
.project-pagination-next, .project-pagination-prev {
  margin-left: 0.3em; }

@media (min-width: 991px) {
  .layout--2col .page-list {
    float: right; }

  .layout--2col .page-list > li:not(last-child) {
    margin-bottom: 25px; }

  .layout--3col .page-row {
    margin-bottom: 60px; } }
.navbar-toggle .icon-bar {
  background-color: #222222; }

.page-navbar .nav > li > a:last-child {
  padding-right: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 30px; }

.footer--sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #FFFFFF; }

@media (min-width: 768px) {
  .page-footer-nav {
    text-align: right; } }
@media (max-width: 767px) {
  .footer--sticky,
  .page-footer-nav {
    text-align: left; } }
.page-thumbnail img,
.project-content .project-image img {
  margin-bottom: 0.5em; }

.page-container.project-text {
  padding: 1.5em; }

@media (min-width: 768px) {
  .page-container.project-text {
    padding: 3em 3em 1.5em; } }
.project-header-no {
  margin-top: 2em; }

@media (min-width: 768px) {
  .layout--3col .page-row {
    margin-bottom: 4em; } }
@media (max-width: 767px) {
  .page-thumbnail-container {
    margin-bottom: 4em; } }

/*# sourceMappingURL=main.css.map */
