.front-gallery img {
  #{$w}: 100%;
}

.front-gallery {
  @include expander;
  #{$pos}: $rel;
  #{$maxw}: 100%;
}

.front-gallery .project-image {
  @include expander;
}


//Stellar for desktop
@media (min-width: 992px) {
  .front-gallery {
    #{$minh}: 3000px;
  }

  .front-gallery .project-image {
    
    #{$pos}: $abs;
    z-index: 2;
  }

  .image--left.image--portrait.image--md {
    #{$t}: 15em;
    #{$l}: 4em;
    z-index: 3;
  }

  .image--right.image--portrait.image--sm {
    #{$t}: 5em;
    #{$r}: 8em;
  }

  .image--right.image--landscape.image--lg {
    #{$r}: 4em;
    #{$t}: 85vh;
  } 

  .project-image p {
    #{$cl}: transparent;
  }

  .project-image a:hover {
    p {
      #{$cl}: $black;
    }
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .project-image {
    position: initial!important;
    transform: none!important;
    #{$mb}: 1.5em;
  }
}