.front-gallery img {
  @include responsive-img;
}

.front-gallery {
  @include expander;
  #{$pos}: $rel;
  #{$maxw}: 100%;
}

.front-gallery .project-image {
  @include expander;
}


//Stellar for desktop
@media (min-width: 992px) {

  .front-gallery .project-image {
    #{$minh}: 300px;
    #{$pos}: $rel;
    z-index: 1;

    &.image--right {
      clear: both;
      float: #{$r};
    }
  }

  .project-image {
    &.z2 {
      z-index: 2;
    }
    &.z3 {
      z-index: 3;
    }
    &.z4 {
      z-index: 4;
    }
  }

  .image--left.image--portrait.image--md {
    #{$mt}: -35em;
    #{$l}: 4em;
  }

  .image--left.image--landscape.image--md,
  .image--right.image--landscape.image--lg,
  .image--right.image--portrait.image--lg {
    #{$t}: -4em;
  }

  .image--left.image--landscape.image--lg {
    #{$t}: -5em;
  }

  .image--right.image--portrait.image--sm {
    #{$t}: 4em;
    #{$r}: 4em;
  }

  .image--right.image--landscape.image--md {
    #{$mt}: -5em;
  }

  .project-image p {
    #{$cl}: transparent;
  }

  .project-image:hover {
    p {
      #{$cl}: $black;
    }
  }
}

//Override Stellar mobile
@media (min-width: 320px) and (max-width: 991px) {
  .project-image {
    position: initial!important;
    transform: none!important;
    #{$mb}: 1.5em;
  }
}